@page
@model Remotely.Server.Pages.ProcessesModel
@inject IDataService  DataService
@{
    ViewData["Title"] = "Running Processes";
    var currentUser = DataService.GetUserByName(User.Identity.Name);
    var devices = DataService.GetAllDevices(currentUser.OrganizationID.ToString());
    var isAdmin = currentUser.IsAdministrator;
    var lists = new List<Remotely.Shared.Models.RunningProcess>();

}

<h4>@ViewData["Title"]</h4>

@foreach (var item in devices.Where(d => d.IsOnline))
{
   lists = item.Processes;
   <div class="card">
      <div class="card-header" id="@item.ID ">
         <h2 class="mb-0">
            @item.DeviceName
         </h2>
      </div>
      @lists[0].Name
   </div>
}


